table {
	border-collapse: collapse;
}
td, th {
	border: 1px solid black;
	padding: 10px;
}
.marge {
	text-align: center;
}
body {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}